body{
background:#0f172a;
color:#22c55e;
font-family:monospace;
padding:40px;
}

.terminal{
max-width:800px;
margin:auto;
}

input{
background:none;
border:none;
color:#22c55e;
outline:none;
width:90%;
font-family:monospace;
}
